#body {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
}

#time {
  font-size: 72px;
  margin-top: 10vh;
  justify-content: end;
}

#date {
  font-size: 24px;
  margin-bottom: 10vh;
  justify-content: start;
}

.charcoal {
  background-color: #313231;
  color: #F7F5F1;
  border-color: #ffff;
}

.blueberry {
  background-color: #6B7A8F;
  color: #b7c5d8;
  border-color: #ffff;
}

.bingsu {
  background-color: #B8A7AA;
  color: #48373D;
  border-color: #ffff;
}

.alpine {
  background-color: #585568;
  color: #9994B8;
  border-color: #ffff;
}

.botanical {
  background-color: #7B9C98;
  color: #EAF1F3;
  border-color: #ffff;
}

.btn {
  margin: 5%;
  box-sizing: border-box;
  display: inline-flex;
  border-radius: 24px;
  border-color: #ffff;
  line-height: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.btn:hover {
  border-color: #ffff;
  border-style: dashed;
}

.btn:active {
  border-color: #ffff;
  border-style: dashed;
}


.dropdown-menu  li{
  position: relative;
}

.submenu{ 
  display: none;
  position: absolute;
  left: 100%;
  top: -12%
}

.dropdown-menu > li:hover > .submenu{ display: block; }

#notes {
  padding: 10px;
}