body {
  font-family: "JetBrains Mono", monospace;
}

.charcoal {
  background-color: #313231;
  color: #F7F5F1;
}

.blueberry {
  background-color: #6B7A8F;
  color: #b7c5d8;
}

.bingsu {
  background-color: #B8A7AA;
  color: #48373D;
}

.alpine {
  background-color: #585568;
  color: #9994B8
}

.botanical {
  background-color: #7B9C98;
  color: #EAF1F3;
}

.btn {
  margin: 10px;
  align-items: center;
  border-style: dashed;
  border-radius: 24px;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  font-size: 18px;
  font-family: "JetBrains Mono", monospace;
  border-color: #ffff;
  line-height: 1;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: transform;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(2px);
}